/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*
{
    font-family: arial;
    margin: 0px;
    padding: 0px;
}
a
{
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-left: 43%;
}
html, body, #conteiner 
{
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
}
h1
{
    margin: 1%;
    text-align: center;
}
li
{
    display: inline;
    float: left;
    list-style: none;
    width: 50%;
}
nav
{
    margin: 1%;
}
input
{
    padding: 1%;
    font-size: 20px;
    margin: 1%;
    width: 95%;
}
#yield
{
    height: auto;
    margin: auto;
    width: 100%;
}