<div class="image_logo">
	<%= image_tag("logo_face.png")%>
</div>
<div class="description">
	<h2> Facebook </h2>
	<p>
		Facebook (pronunciación AFI: [feɪsbʊk]) (NASDAQ: FB) es un sitio web de redes sociales creado por Mark Zuckerberg y fundado junto a Eduardo Saverin, Chris Hughes y Dustin Moskovitz. Originalmente era un sitio para estudiantes de la Universidad de Harvard. Su propósito era diseñar un espacio en el que los alumnos de dicha universidad pudieran intercambiar una comunicación fluida y compartir contenido de forma sencilla a través de Internet. Fue tan innovador su proyecto que con el tiempo se extendió hasta estar disponible para cualquier usuario de la red.
	</p>
	<div class="clear"></div>
</div>