<div class="image_logo">
	<%= image_tag ("logo_google.jpg") %>	
</div>
<div class="description">
	<h2> Google + </h2>
	<p>
		Google+ (pronunciado y escrito también Google Plus, abreviado como G+ y en algunos países de lengua hispana pronunciado Google Más) es una red social operada por Google Inc. Google+ se lanzo en junio de 2011. Los usuarios tienen que ser mayores de 13 años de edad,2 para crear sus propias cuentas. Google+ ya es la segunda red social más popular del mundo, por enlazarse con YouTube, obteniendo aproximadamente 343 millones de usuarios activos.

		Google+ integra distintos servicios: Círculos, Hangouts, Intereses y Comunidades.3 Google+ también estará disponible como una aplicación de escritorio y como una aplicación móvil, pero sólo en los sistemas operativos Android e iOS. Fuentes tales como The New York Times lo han declarado el mayor intento de Google para competir con la red social Facebook,4 la cual tenía más de 750 millones de usuarios en 2011.5 El 20 de septiembre de 2011, Google permitió la creación de cuentas a usuarios con más de 18 años, con mejoras en sus extensiones de videoconferencias.6 El 41.99% de los usuarios de Google+ buscan amigos, y el 43.88% son solteros.
	</p>
	<div class="clear"></div>
</div>