// Place all the styles related to the test_sesion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input
{
    padding: 1%;
    width: 100%;
}
p
{
    margin: 1%;
}
#submit
{
    width: 10%;
}